
<div class="swiper-container">
  <ul class="skills-wrapper">
    <li class="skill-slide red">HTML/CSS</li>
    <li class="skill-slide">JavaScript</li>
    <li class="skill-slide">React</li>
    <li class="skill-slide">Node.js</li>
    <li class="skill-slide">React Native</li>
    <li class="skill-slide">Soft skills</li>
  </ul>
  <button class="btn-slide-right" type="button">
    <svg class="svg-slide">
      <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>

