<div class="swiper-container">
  <ul class="swiper-wrapper">
    <li class="swiper-slide red">HTML/CSS</li>
    <li class="swiper-slide">JavaScript</li>
    <li class="swiper-slide">React</li>
    <li class="swiper-slide">Node.js</li>
    <li class="swiper-slide">React Native</li>
    <li class="swiper-slide">Soft skills</li>
  </ul>
  <button class="btn-slide" type="button">
    <svg class="svg-slide">
      <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
