<div class="about-me-wrapper">
  <div class="swiper-container skills-container">
    <ul class="swiper-wrapper skills-wrapper">
      <li class="swiper-slide skill-slide">HTML/CSS</li>
      <li class="swiper-slide skill-slide">JavaScript</li>
      <li class="swiper-slide skill-slide">React</li>
      <li class="swiper-slide skill-slide">Node.js</li>
      <li class="swiper-slide skill-slide">React Native</li>
      <li class="swiper-slide skill-slide">Soft skills</li>
      <li class="swiper-slide skill-slide">HTML/CSS</li>
      <li class="swiper-slide skill-slide">JavaScript</li>
      <li class="swiper-slide skill-slide">React</li>
      <li class="swiper-slide skill-slide">Node.js</li>
      <li class="swiper-slide skill-slide">React Native</li>
      <li class="swiper-slide skill-slide">Soft skills</li>
    </ul>
    <button class="btn-slide-right">
      <svg class="svg-slide" width="28" height="28" role="button">
        <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
