<h2 class="visually-hidden">About me</h2>

<div class="motto-container">
  <div class="motto-box">
    <p class="motto-text">
      I work with people all over the world to create impressive and
      <span class="text-functional">functional</span>
      <span class="text-websites">websites</span> that reflect each client's
      unique personality.
    </p>
  </div>
  <picture class="about-img">
    <source
      media="(max-width: 767px)"
      srcset="
        ./img/About-me/image-mob_1x.jpg 1x,
        ./img/About-me/image-mob_2x.jpg 2x
      "
      width="343"
      height="500"
    />
    <source
      media="(max-width: 767px)"
      srcset="
        ./img/About-me/image-mob_1x.webp 1x,
        ./img/About-me/image-mob_2x.webp 2x
      "
      width="343"
      height="500"
    />
    <source
      media="(max-width: 1439px)"
      srcset="
        ./img/About-me/image-tab_1x.jpg 1x,
        ./img/About-me/image-tab_2x.jpg 2x
      "
      width="704"
      height="700"
    />
    <source
      media="(max-width: 1439px)"
      srcset="
        ./img/About-me/image-tab_1x.webp 1x,
        ./img/About-me/image-tab_2x.webp 2x
      "
      width="704"
      height="700"
    />
    <source
      media="(min-width: 1439px)"
      srcset="
        ./img/About-me/image-desk_1x.jpg 1x,
        ./img/About-me/image-desk_2x.jpg 2x
      "
      width="680"
      height="700"
    />
    <source
      media="(min-width: 1439px)"
      srcset="
        ./img/About-me/image-desk_1x.webp 1x,
        ./img/About-me/image-desk_2x.webp 2x
      "
      width="680"
      height="700"
    />
    <img
      class="camera-man"
      src="./img/About-me/image-desk_1x.webp"
      alt="my image"
      width="680"
      height="700"
    />
  </picture>
</div>


<ul class="about-list accordion-container">
  <li class="about-item ac">
    <div class="about-container ac-header">
      <p class="about-title">About me</p>
      
      <button type="button" class="about-arrow ac-trigger">
        <svg class="icon" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-top"></use>
        </svg> 
      </button>
     
    </div>
    <div class="ac-panel">
      <ul class="about-list-text about-list-container">
        <li class="about-item-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </li>
        <li class="about-item-text">
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </li>
      </ul>
    </div>
    <div class="line"></div>
  </li>

  <li class="about-item ac">
    <div class="about-container ac-header">
      <p class="about-title">ROLE</p>
      <button type="button" class="about-arrow ac-trigger">
        <svg class="icon" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-down"></use>
        </svg> 
      </button>
    </div>
    <div class="ac-panel">
      <ul class="about-list-text">
        <li class="about-item-text">Frontend development</li>
        <li class="about-item-text">HeadlessCMS,Wordpress</li>
        <li class="about-item-text">Blender(enjoy)</li>
      </ul>
    </div>
    <div class="line"></div>
  </li>
  <li class="about-item ac">
    <div class="about-container ac-header">
      <p class="about-title">EDUCATION</p>
      <button type="button" class="about-arrow ac-trigger">
        <svg class="icon" width="20" height="20">
          <use href="../img/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </button>
    </div>
    <div class="ac-panel">
      <ul class="about-list-text">
        <li class="about-item-text">
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </li>
        <li class="about-item-text">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </li>
        <li class="about-item-text">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </li>
      </ul>
    </div>
    <div class="line"></div>
  </li>
</ul>
