<section class="section benefits">
  <div class="benefits-container">
    <div class="box">
      <h2 class="benefits-title">Benefits of working with me</h2>

      <ul class="benefits-list">
        <li class="benefits-item">
          <div class="benefits-wrapper">
            <svg class="benefits-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-user"></use>
            </svg>
          </div>
          <h3 class="benefits-chapter">Expertise</h3>
          <p class="benefits-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefits-item">
          <div class="page-wrapper">
            <svg class="benefits-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-message-chat-circle"></use>
            </svg>
          </div>
          <h3 class="benefits-chapter">Communication</h3>
          <p class="benefits-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-item">
          <div class="page-wrapper">
            <svg class="benefits-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-brush"></use>
            </svg>
          </div>
          <h3 class="benefits-chapter">Art</h3>
          <p class="benefits-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-item">
          <div class="page-wrapper">
            <svg class="benefits-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-hourglass"></use>
            </svg>
          </div>
          <h3 class="benefits-chapter">Urgent execution</h3>
          <p class="benefits-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
    </div>
    <button class="benefits-btn" type="button">
      Order the project<a href="#work_together"></a>
    </button>
  </div>
</section>
