<section class="section benefits">
  <div class="container">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <ul class="page-list">
      <li class="page-item">
        <div class="page-wrapper"></div>
        <h3 class="title">Expertise</h3>
        <p class="text">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>
      <li class="page-item">
        <div class="page-wrapper"></div>
        <h3 class="title">Communication</h3>
        <p class="text">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>
      <li class="page-item">
        <div class="page-wrapper"></div>
        <h3 class="title">Art</h3>
        <p class="text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="page-item">
        <div class="page-wrapper"></div>
        <h3 class="title">Urgent execution</h3>
        <p class="text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
    <button type="button">Order the project</button>
  </div>
</section>
