<section class="section" id="covers-section">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>

    <div class="cover-content">
      <ul class="cover-list">
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/first-screen-1@1x.png 1x,
                ../img/Covers/first-screen-1@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-4@1x.png 1x,
                ../img/Covers/Rectangle-4@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-5@1x.png 1x,
                ../img/Covers/Rectangle-5@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-6@1x.png 1x,
                ../img/Covers/Rectangle-6@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-7@1x.png 1x,
                ../img/Covers/Rectangle-7@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-8@1x.png 1x,
                ../img/Covers/Rectangle-8@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-9@1x.png 1x,
                ../img/Covers/Rectangle-9@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-10@1x.png 1x,
                ../img/Covers/Rectangle-10@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-11@1x.png 1x,
                ../img/Covers/Rectangle-11@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
        <li class="cover-list-item">
          <picture>
            <source
              srcset="
                ../img/Covers/Rectangle-12@1x.png 1x,
                ../img/Covers/Rectangle-12@2x.png 2x
              "
              type="image/webp"
            />

            <img class="cover-img" srcset="" sizes="" src="" alt="project" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
