<header>
  <div class="container">
    <div class="logo">
      <img
        srcset="
          ../img/header/img-header_1x.jpg 1x,
          ../img/header/img-header_2x.jpg 2x
        "
        src="./img/header/img-header_1x.jpg"
        alt="site logo"
      />
      <p class="logo-text">jefferson*</p>
    </div>
    <div class="navigation is-open">
      <span class="menu">Menu</span>
      <nav class="navi">
        <ul class="nav-wraper">
          <li>
            <a class="nav-link" href="#about-me">About me</a>
          </li>
          <li>
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li>
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li>
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="open-menu-btn" type="button" aria-label="Open menu button">
      <svg class="burger-menu" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>

<!--modal window-->
<div class="backdrop is-open">
  <div class="modal">
    <nav class="navi">
      <ul class="nav-wraper">
        <li>
          <a class="nav-link" href="#about-me">About me</a>
        </li>
        <li>
          <a class="nav-link" href="#benefits">Benefits</a>
        </li>
        <li>
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li>
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
