<section class="hero-section">
    <div class="container hero-container">
        <h1 class="hero-title">Hello.
        I’m Fullstack developer
        Lloyd Jefferson.</h1>
        <ul class="hero-list">
            <li class="hero-item">
            <a class="social-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"
                      aria-label="instagram site">IG</a>
            </li>
            <li class="hero-item">
            <a class="social-link" href="https://facebook.com/" target="_blank" rel="noopener noreferrer"
                      aria-label="facebook site">FB</a>
            </li>
            <li class="hero-item">
            <a class="social-link" href="https://youtube.com/" target="_blank" rel="noopener noreferrer"
                      aria-label="youtube site">YT</a>
            </li>
            <li class="hero-item">
            <a class="social-link" href="https://google.com/" target="_blank" rel="noopener noreferrer"
                      aria-label="google site">GH</a>
            </li>
            <li class="hero-item">
            <a class="social-link" href="https://email.com/" target="_blank" rel="noopener noreferrer"
                      aria-label="email site">lloydjefferson@gmail.com</a>
            </li>
        </ul>
        </div>
        </section>