<section class="hero-section">
    <div class="container hero-container">
        <h1 class="hero-title">Hello.
        I’m Fullstack developer
        Lloyd Jefferson.</h1>
        <ul class="hero-list">
            <li class="hero-item">
            <a href="" target=""></a>
            </li>
            <li  class="hero-item">
            <a href="" target=""></a>
            </li>
            <li  class="hero-item">
            <a href="" target=""></a>
            </li>
            <li class="hero-item">
            <a href="" target=""></a>
            </li>
            <li  class="hero-item">
            <a href="" target=""></a>
            </li>
        </ul>