<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Hello.<br>I’m Fullstack developer
       Lloyd Jefferson.</h1>
       
    <ul class="hero-list">
      <li class="hero-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram site"
          >IG</a
        >
      </li>
      <li class="hero-item">
        <a
          class="social-link"
          href=" https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook site"
          >FB</a
        >
      </li>
      <li class="hero-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube site"
          >YT</a
        >
      </li>
      <li class="hero-item">
        <a
          class="social-link"
          href="https://github.com/Cassel444/project-A1b2C3d4"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="google site"
          >GH</a
        >
      </li>
      <li class="hero-item">
        <a
          class="social-link"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="email site"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
    
  </div>
</section>
