<section class="section section-projects">
    <div class="container">
        <div class="project-wrapper">
            <h2 class="section-title">projects</h2>
            <div class="swiper mySwiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide project-card">
                        <div class="project-card-info">
                            <ul class="project-card-info-list">
                                <li class="project-card-info-list-item">
                                    <ul class="project-skills">
                                        <li class="project-skills-item">#react</li>
                                        <li class="project-skills-item">#js</li>
                                        <li class="project-skills-item">#node js</li>
                                        <li class="project-skills-item">#git</li>
                                    </ul>
                                </li>
                                <li class="project-card-info-list-item info-list-item-title">Programming Across Borders:
                                    Ideas,
                                    Technologies, Innovations</li>
                                <li class="project-card-info-list-item"><button class="project-button"><a href="">See
                                            project</a></button></li>
                            </ul>
                        </div>
                        <div class="project-card-img">
                            <picture class="project-card-img-list-item">
                                <source media="(max-width: 767px)" srcset="
                            ./img/Projects/project-book-mob_1x.jpg 1x,
                            ./img/Projects/project-book-mob_2x.jpg 2x
                                " width="311" height="195" />
                                <source media="(max-width: 767px)" srcset="
                                ./img/Projects/project-book-mob_1x.webp 1x,
                                ./img/Projects/project-book-mob_2x.webp 2x
                                    " width="311" height="195" />
                                <source media="(min-width: 768px)" srcset="
                                ./img/Projects/project-book_1x.webp 1x,
                                ./img/Projects/project-book_2x.webp 2x
                                    " width="614" height="385" />
                                <source media="(min-width: 768px)" srcset="
                                ./img/Projects/project-book_1x.webp 1x,
                                ./img/Projects/project-book_2x.webp 2x
                                    " width="614" height="385" />
                                <img src="./img/Projects/project-book_1x.webp" alt="project-book" width="614"
                                    height="385">
                            </picture>
                        </div>
                    </li>
                    <li class="swiper-slide project-card">
                        <div class="project-card-info">
                            <ul class="project-card-info-list">
                                <li class="project-card-info-list-item">
                                    <ul class="project-skills">
                                        <li class="project-skills-item">#react</li>
                                        <li class="project-skills-item">#js</li>
                                        <li class="project-skills-item">#node js</li>
                                        <li class="project-skills-item">#git</li>
                                    </ul>
                                </li>
                                <li class="project-card-info-list-item info-list-item-title">Programming Across Borders:
                                    Ideas,
                                    Technologies, Innovations</li>
                                <li class="project-card-info-list-item"><button class="project-button"><a
                                            href="">Seeproject</a></button></li>
                            </ul>
                        </div>
                        <div class="project-card-img">
                            <picture class="project-card-img-list-item">
                                <source media="(max-width: 767px)" srcset="
                                                                                            ./img/Projects/project-dog-mob_1x.jpg 1x,
                                                                                            ./img/Projects/project-dog-mob_2x.jpg 2x
                                                                                                " width="311"
                                    height="195" />
                                <source media="(max-width: 767px)" srcset="
                                                                                                ./img/Projects/project-dog-mob_1x.webp 1x,
                                                                                                ./img/Projects/project-dog-mob_2x.webp 2x
                                                                                                    " width="311"
                                    height="195" />
                                <source media="(min-width: 768px)" srcset="
                                                                                                ./img/Projects/project-dog_1x.webp 1x,
                                                                                                ./img/Projects/project-dog_2x.webp 2x
                                                                                                    " width="614"
                                    height="385" />
                                <source media="(min-width: 768px)" srcset="
                                                                                                ./img/Projects/project-dog_1x.webp 1x,
                                                                                                ./img/Projects/project-dog_2x.webp 2x
                                                                                                    " width="614"
                                    height="385" />
                                <img src="./img/Projects/project-dog_1x.webp" alt="project-dog" width="614"
                                    height="385">
                            </picture>
                        </div>
                    </li>
                    <li class="swiper-slide project-card">
                        <div class="project-card-info">
                            <ul class="project-card-info-list">
                                <li class="project-card-info-list-item">
                                    <ul class="project-skills">
                                        <li class="project-skills-item">#react</li>
                                        <li class="project-skills-item">#js</li>
                                        <li class="project-skills-item">#node js</li>
                                        <li class="project-skills-item">#git</li>
                                    </ul>
                                </li>
                                <li class="project-card-info-list-item info-list-item-title">Programming Across Borders:
                                    Ideas,
                                    Technologies, Innovations</li>
                                <li class="project-card-info-list-item"><button class="project-button"><a href="">See
                                            project</a></button></li>
                            </ul>
                        </div>
                        <div class="project-card-img">
                            <picture class="project-card-img-list-item">
                                <source media="(max-width: 767px)" srcset="
                                                                                            ./img/Projects/project-vocab-mob_1x.jpg 1x,
                                                                                            ./img/Projects/project-vocab-mob_2x.jpg 2x
                                                                                                " width="311"
                                    height="195" />
                                <source media="(max-width: 767px)"
                                    srcset="
                                                                                                ./img/Projects/project-vocab-mob_1x.webp 1x,
                                                                                                ./img/Projects/project-vocab-mob_2x.webp 2x"
                                    width="311" height="195" />
                                <source media="(min-width: 768px)" srcset="
                                                                ./img/Projects/project-vocab_1x.webp 1x,
                                                                ./img/Projects/project-vocab_2x.webp 2x
                                                                    " width="614" height="385" />
                                <source media="(min-width: 768px)" srcset="
                                                                ./img/Projects/project-vocab_1x.webp 1x,
                                                                ./img/Projects/project-vocab_2x.webp 2x
                                                                    " width="614" height="385" />
                                <img src="./img/Projects/project-vocab_1x.webp" alt="project-vocab" width="614"
                                    height="385">
                            </picture>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="project-navigation">
                <div class="swiper-btn-left"><svg width="24" height="24">
                        <use href="../img/symbol-defs.svg#icon-arrow-narrow-right"></use>
                    </svg></div>
                <div class="swiper-btn-right"><svg width="24" height="24">
                        <use href="../img/symbol-defs.svg#icon-arrow-narrow-right"></use>
                    </svg></div>
            </div>
        </div>
    </div>
</section>
<script type="module" src="../js/projects.js"></script>