<section class="section section-projects">
    <div class="container">
        <h2 class="section-title">projects</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
        <section class="project-card swiper-slide">
            <div class="project-card-info">
                <ul class="project-card-info-list">
                    <li class="project-card-info-list-item">
                        <ul class="project-skills">
                            <li class="project-skills-item">#react</li>
                            <li class="project-skills-item">#js</li>
                            <li class="project-skills-item">#node js</li>
                            <li class="project-skills-item">#git</li>
                        </ul>
                    </li>
                    <li class="project-card-info-list-item info-list-item-title">Programming Across Borders: Ideas, Technologies, Innovations</li>
                    <li class="project-card-info-list-item"><button class="project-button"><a href="">See project</a></button></li>
                </ul>
            </div>
            <div class="project-card-img">
                <ul class="project-card-img-list">
                    <li class="project-card-img-list-item"><img src="../img/Projects/project-book-mob_1x.jpg" alt=""></li>
                    <!-- <li class="project-card-img-list-item"><img src="../img/Projects/project-dog_1x.jpg" alt=""></li>
                    <li class="project-card-img-list-item"><img src="../img/Projects/project-vocab_1x.jpg" alt=""></li> -->
                </ul>
            </div>
        </section>
        <section class="project-card swiper-slide">
            <div class="project-card-info">
                <ul class="project-card-info-list">
                    <li class="project-card-info-list-item">
                        <ul class="project-skills">
                            <li class="project-skills-item">#react</li>
                            <li class="project-skills-item">#js</li>
                            <li class="project-skills-item">#node js</li>
                            <li class="project-skills-item">#git</li>
                        </ul>
                    </li>
                    <li class="project-card-info-list-item info-list-item-title">Programming Across Borders: Ideas, Technologies, Innovations</li>
                    <li class="project-card-info-list-item"><button class="project-button"><a href="">See project</a></button></li>
                </ul>
            </div>
            <div class="project-card-img">
                <ul class="project-card-img-list">
                    <li class="project-card-img-list-item"><img src="../img/Projects/project-book-mob_1x.jpg" alt=""></li>
                    <!-- <li class="project-card-img-list-item"><img src="../img/Projects/project-dog_1x.jpg" alt=""></li>
                    <li class="project-card-img-list-item"><img src="../img/Projects/project-vocab_1x.jpg" alt=""></li> -->
                </ul>
            </div>
        </section>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>
    </div>
</section>
<script type="module" src="../js/projects.js"></script>


