<section class="reviews-section section">
  <div class="container">
    <h2 class="title-review">Reviews</h2>
    <div class="swiper swiper-reviews">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="btn-container">
      <button class="left-btn">
        <svg class="menu-left-btn-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="right-btn">
        <svg class="menu-right-btn-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>