<footer class="footer-container">
      <h2 class="footer-title">
        <img
          src="../img/footer/footer_author.jpg"
          alt="author"
          class="footer-image"
          loading="lazy"
          width="44"
          height="44"
        />Let's <span class="accent">work</span> together
      </h2>
    <div class="footer-wrapper-form">
      <form class="footer-wrap-form" action="">
        <input
          class="footer-form"
          placeholder="clients@gmail.com"
          type="email"
          name="email"
          id="email"
        />
        <textarea
          class="footer-form"
          placeholder="comments"
          name="comment"
          id="comment"
          rows="1"
        ></textarea>
        <button class="footer-submit-btn" type="submit">send</button>
      </form>
    </div>
    <address class="footer-contacts">
      <ul class="footer-list-contacts">
        <li class="footer-contact">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li class="footer-contact">
          <a href="tel:+3801111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </address>
  </div>
</footer>
