

.swiper-container{
    display: flex;
}
.swiper-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 72px;
}


.swiper-slide-first{
    background-color: #ED3B44;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide{
    border: 1px solid #FAFAFA33;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-slider {
    width: 40px;
    height: 40px;
}