
.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
@media only screen and (min-width: 768px) {
    .swiper-container {
        margin-top: 32px;
    }
}
@media only screen and (min-width: 1440px) {
    .swiper-container {
        margin-top: 64px;
    }
}
.swiper-wrapper {
    width: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
    .swiper-wrapper {
       width: 600px;
    }
}
@media only screen and (min-width: 1440px) {
    .swiper-wrapper {
        width: 1200px;
    }
}
.red {
    background-color: #ED3B44;
}

.swiper-slide {
    border: 1px solid #FAFAFA33;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    text-align: center;
    align-content: center;
}
@media only screen and (min-width: 768px) {
    .swiper-slide {
        width: 200px;
        height: 200px;
        font-size: 20px;
        line-height: 1.21em;
    }
}

.swiper-slide:nth-child(-n+2) {
    display: block;
}
.swiper-slide:nth-child(n+3) {
    display: none;
}
 @media only screen and (min-width: 768px) {
    .swiper-slide:nth-child(-n+3) {
            display: block;
        }
    
        .swiper-slide:nth-child(n+4) {
            display: none;
        }
 }

 @media only screen and (min-width: 1440px) {
     .swiper-slide:nth-child(-n+6) {
         display: block;
        } 
 }
.btn-slide {
    width: 28px;
    height: 28px;
    background-color: inherit;
    border: none;
    margin-left: 55px;
    
}
@media only screen and (min-width: 768px) {
    .btn-slide {
        width: 40px;
        height: 40px;
        margin-left: 64px;
    }    
}
@media only screen and (min-width: 768px) {
    .btn-slide {
        margin-left: 72px;
    }
}
.svg-slide {
    width: 28px;
    height: 28px;
    stroke: #3B3B3B;
    fill: #3B3B3B;
}
@media only screen and (min-width: 768px) {
    .svg-slide {
        width: 40px;
        height: 40px;
    }
}