.benefits {
  display: flex;
}
.benefits-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .benefits-container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits-container {
    max-width: 1440px;
    display: flex;
  }
}
@media only screen and (min-width: 1440px) {
  .left-side {
    width: 696px;
    height: 675px;
  }
  .right-side {
    width: 680px;
    height: 675px;
  }
}

.benefits-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
  .benefits-title {
    margin-bottom: 0;
    width: 284px;
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.benefits-icon {
  stroke: #fafafa;
  fill: var(--change-color);
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--change-color);
  margin-bottom: 64px;
}
.benefits-item {
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: #242527;
  transition: box-shadow 1s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 0 1px var(--change-color), 0 0 5px var(--change-color);
}

.benefits-item:hover {
  scale: 1.03;
  box-shadow: 0 0 1px var(--change-color), 0 0 5px var(--change-color),
    0 0 10px var(--change-color), 0 0 15px var(--change-color),
    0 0 20px var(--change-color);
}

@media only screen and (min-width: 768px) {
  .benefits-item {
    width: 344px;
  }
}
@media only screen and (min-width: 1440px) {
  .benefits-item {
    width: 332px;
  }
}
.benefits-chapter {
  margin-bottom: 8px;
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.benefits-text {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.benefits-btn {
  padding: 18px 36px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background: #1c1d20;
  margin-top: 32px;
  box-shadow: 0 0 1px var(--change-color), 0 0 5px var(--change-color);
  transition: box-shadow 1s cubic-bezier(0.22, 1, 0.36, 1),
    scale 2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.benefits-btn:hover,
.benefits-btn:focus {
  /* border: 1px solid #fafafa; */
  scale: 1.03;
  box-shadow: 0 0 1px var(--change-color), 0 0 5px var(--change-color),
    0 0 10px var(--change-color), 0 0 15px var(--change-color),
    0 0 20px var(--change-color);
}

@media only screen and (min-width: 768px) {
  .benefits-btn {
    margin-top: 64px;
  }
}
