/*.cover-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}*/
/*
.cover-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cover-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cover-list-item {
  width: 33.33%;
  padding: 0;
  margin: 0;
}

.cover-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: perspective(500px);
  transition: transform 0.3s ease;
}

.cover-row {
  animation: coverRowSlide 10s linear infinite;
}

@keyframes coverRowSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-box {
  border: 1px solid red;
  width: 1440px;
  height: 960px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

#gallery {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
  list-style: none;
}

.gallery-row {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.gallery-row:nth-child(even) {
  margin-left: 50%;
}

.gallery-row img {
  width: 554px;
  height: 314px;
}

.animate-right {
  animation-name: moveRight;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
