.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-box {
  border: 1px solid red;
  width: 1440px;
  height: 960px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#gallery {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
  list-style: none;
  transform: rotate(16deg);
  width: 1440px;
  height: 960px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-row {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.gallery-row:nth-child(even) {
  margin-left: 50%;
}

.gallery-row img {
  width: 554px;
  height: 314px;
}

.animate-right {
  animation-name: moveRight;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
