.faq-section {
  width: 100%;
}
/* 
@media only screen and (min-width: 767.98px) {
    .section {
        max-width: 768px;
    }
} */

/* @media only screen and (min-width: 1439.98px) {
    .section {
        max-width: 1440px;
    }
} */

/* .container-faq {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
} */

.faq-head {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media only screen and (min-width: 1439.98px) {
  .faq-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .faq-element {
    width: calc((50% - 10px) / 1);
  }
}

.faq-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.faq-question-element {
  color: #fafafa;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  flex-grow: 1;
}

.open-answer {
  cursor: pointer;
  background-color: #1c1d20;
  color: #fff;
  stroke: #fafafa;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-image: url('../img/symbol-defs.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 7px;
  align-items: center;
  flex-shrink: 0;
}

.open-answer:focus .open-answer:hover {
  border: 1px solid rgb(250, 250, 250);
}
