.faq-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.faq-head {
  color: #fafafa66;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-faq {
  border-top: 1px solid #fafafa33;
  padding-top: 20px;
}

@media only screen and (min-width: 1439.98px) {
  .faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);

    gap: 0;
  }

  .first-faq {
    grid-row: 1/1;
    padding: 32px 32px 32px 0;
    border-right: 1px solid #fafafa33;
  }

  .second-faq {
    grid-row: 2/3;
    padding: 32px 32px 32px 0;
    border-right: 1px solid #fafafa33;
  }

  .third-faq {
    grid-row: 3/4;
    padding: 32px 32px 32px 0;
    border-right: 1px solid #fafafa33;
  }

  .four-faq {
    padding: 32px 0 32px 32px;
    border-top: 1px solid #fafafa33;
  }

  .five-faq {
    padding: 32px 0 32px 32px;
  }

  .six-faq {
    padding: 32px 0 32px 32px;
  }
}

.faq-element {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #fafafa33;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question-element {
  color: #fafafa;
  font-weight: 600;
  flex-grow: 1;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

.open-answer {
  cursor: pointer;
  background-color: #1c1d20;
  color: #fff;
  fill: #1c1d20;
  stroke: #fafafa;
  border-radius: 50%;
  border: 1px solid #fafafa33;
  background-image: url('./img/symbol-defs.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 7px;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
}

.faq-answer-element {
  color: #fafafa99;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5em;
}

.menu-icon {
  transition: transform 500ms ease;
}

.is-active .menu-icon {
  transform: rotate(180deg);
}

.ac-panel {
  overflow: hidden;
}

.is-active .ac-panel {
  display: block;
}

.vector-line {
  height: 1px;
  background-color: #fafafa33;
}
