.footer-section {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;

  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .footer-section {
    margin-top: 88px;
    margin-bottom: 169px;

    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-section {
    max-width: 1440px;
  }
}

.footer-title {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  max-width: 540px;
  margin-bottom: 63px;

  font-size: 40px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.footer-image-span {
  padding-right: 8px;
  padding-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .footer-title {
    font-size: 64px;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
  }

  .footer-image-span {
    padding-right: 20px;
    padding-bottom: 7px;
  }
}

.footer-image {
  border-radius: 35%;
  overflow: hidden;
}
.accent {
  color: var(--change-color);
}

.footer-wrap-form {
  flex-direction: column;
  display: flex;
  gap: 16px;
  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .footer-wrap-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
  }
}

.footer-form {
  font-family: inherit;
  color: inherit;
  background-color: transparent;

  height: 44px;
  line-height: 44px;

  border: none;
  resize: none;
  border-bottom: 1px solid #fafafa33;

  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  transition: border-bottom-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form:focus {
  border-bottom-color: #fafafa;
}

@media only screen and (max-width: 767.98px) {
  .footer-form {
    min-width: 100%;
  }
  .footer-textarea {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-form {
    width: 390px;
  }
}

.footer-form::placeholder {
  color: #fafafa99;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  align-items: center;
  opacity: 0.7;
  line-height: 44px;
}

.footer-submit-btn {
  width: 100px;
  height: 100px;
  background-color: var(--change-color);
  border: none;
  border-radius: 50%;

  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  box-shadow: 0 0px 15px var(--hover-color);
  background-color: var(--hover-color);
  scale: 1.03;
}

@media only screen and (min-width: 768px) {
  .footer-submit-btn {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-submit-btn {
    margin-left: 54px;
  }
}

.footer-list-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.footer-contact {
  padding: 10px 12px;

  border-radius: 60px;
  border: 1px solid #fafafa33;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  border: 1px solid #fafafa;
  box-shadow: 0 0px 50px rgba(166, 166, 166, 0.2);
}
@media only screen and (min-width: 768px) {
  .footer-contact {
    padding: 18px 32px;

    font-size: 16px;
    letter-spacing: -0.02em;
  }
  .footer-list-contacts {
    gap: 8px;
  }
}

/* modal window */
.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  background: #0f0f1099;
  transition: opacity 0.8s ease 0s,
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 999;
  cursor: pointer;
}

.footer-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: default;

  border-radius: 20px;
  border: 1px solid #19fafa1a;
  background: #1c1d20;

  padding: 64px 32px;
  width: 343px;
  height: 276px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .footer-modal {
    width: 492px;
    height: 246px;
    padding: 64px;
  }
  .modal-title {
    min-width: 364px;
  }
}

.footer-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  padding: 0;

  background-color: inherit;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-close-icon {
  stroke: #fafafa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-close-icon:hover,
.footer-close-icon:focus {
  scale: 1.2;
}

.modal-title {
  color: #fafafa;
  text-align: center;
  padding-bottom: 16px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}

.modal-text {
  color: #fafafa99;
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}
