/* 1440 */

@media only screen and (min-width: 1440px) {
  .project-card .project-card-info {
    border-radius: 24px 0 0 24px;
  }

  .project-card .project-card-img {
    border-radius: 0 24px 24px 0;
  }

  .section-projects .project-card {
    display: grid;
    grid-template-areas: 'info pr-img';
  }

  .project-card .project-card-img .project-card-img-list-item {
    padding: 120px 37px;
  }

  .project-card-info-list .project-card-info-list-item .project-skills {
    margin-bottom: 191px;
  }
}

/* 768 */

@media only screen and (min-width: 768px) {
  .project-skills .project-skills-item {
    padding: 18px;
  }

  .swiper .project-info-list-item-title {
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -1.32px;
    max-width: 494px;
  }

  .project-card-img .project-card-img-list-item {
    padding: 120px 45px;
  }

  .project-card-info-list-item .project-skills {
    margin-bottom: 132px;
  }

  .project-card-info-list-item .project-button {
    padding: 18px 50px;
  }
}

/* 375 */

.section-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.project-card-info {
  display: grid;
  grid-area: info;
  max-width: 100%;
  background-color: #fff;
  border-radius: 24px 24px 0px 0px;
}

.project-card-info-list {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project-skills-item {
  color: #1c1d20;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  display: flex;
  padding: 13px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid rgba(28, 29, 32, 0.2);
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 64px;
}

.project-info-list-item-title {
  color: #1c1d20;
  font-size: 24px;
  font-weight: 500;
  line-height: 116%;
  letter-spacing: -0.72px;
}

.project-button {
  padding: 13px 32px;
  border-radius: 60px;
  color: #fafafa;
  border: 0;
  background-color: var(--change-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button:hover,
:focus {
  box-shadow: 0 0px 15px var(--hover-color);
  background-color: var(--hover-color);
  scale: 1.03;
}

.project-card-img-list-item {
  padding: 100px 16px;
}

.project-card-img {
  display: grid;
  grid-area: pr-img;
  background-color: #242527;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 24px 24px;
}
.swiper-btn-right,
.swiper-btn-left {
  stroke: #fafafa;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  display: flex;
  width: 54px;
  height: 54px;
  justify-content: center;
  align-items: center;
}
.swiper-btn-left {
  transform: rotate(180deg);
}

.projects-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.section-projects {
  position: relative;
}

.section-projects .swiper {
  height: 100%;
}

.project-button-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
